/*.highscore {
	width: 100%;
	position: fixed;
	bottom: 0;
	color: #fff;
	z-index: 300;
}*/

video {
	display: none;
	position: absolute;
	top:0;
	left: 0;
	z-index: 9001;
	height: 100%;
	width: 100%;
}

.videoOverlay {
	background-color: #000;
	z-index: 101;
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}

#testSounds {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00b7c5;
	z-index: 4000;	
}

#highscore {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00b7c5;
	z-index: 10000;
	display: none;
}

#highscore div {
	color: #00b7c5;
	width: 280px;
	height: 180px;
	padding-top: 100px;
	float: left;
	text-align: center;
	border-radius: 300px;
	font-size: 120px;
	text-transform: uppercase;
	line-height: 80px;
	margin-top: 160px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	position: relative;
	left: 15%;
	padding-bottom: 50px;
	padding-top: 50px;
}

#player {
	font-size: 20px;
	}
	
.q {
	display: none;
}

p {
	margin: 0;
	padding: 0;
}

.innerWrapper p {
	padding: 20px 20;
}

html {
	margin: 0;
	padding: 0;
	cursor: crosshair !important;
}

body {
	background-color: #00b7c5;
	font-family: "LG", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #424242;
	margin: 0;
	padding: 0;
}

#finalQuestion, #finalQuestionCategory {
	display: none;
}

	
#categories, #finalQuestion, #finalQuestionCategory {
	background-color: #00b7c5;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 3000;
	text-align: center;
}

#finalQuestionCategory {
	z-index: 9000;
}

#finalQuestion {
	z-index: 10000;
}

#categories h1, #finalQuestion h1, #finalQuestionCategory h1 {
	margin-top: 250px;
	font-size: 80px;
}

#finalQuestion h1 {
	font-size: 60px;
}

@font-face {  
  font-family: LG ;  
  src: url( lg.otf ) format("opentype");  
}  

.overlay {
	background-color: rgba(0, 183, 192, 0.9);
	z-index: 100;
	width: 100%;
	height: 100%;
	position: absolute;
}

.points, .endline {
	background: url(img/stroke.png) repeat-x 0 50%;
	margin: 50px 120px 0;
}

.endline {
	height: 30px;
	margin: 0 140px;
}

.points span {
	background-color: #fff;
	padding: 0 30px;
	font: italic 36px "Baskerville", "Times New Roman", Times, serif;
}

.bubble {
	position: relative;
	width: 662px;
	height: 662px;
	background-color: #fff;
	z-index: 200;
	margin: 20px auto;
	border-radius: 331px;
	text-align: center;
	font-size: 72px;
	text-transform: uppercase;
	/* Fixes for center */
	display: table; 
	position: static;
}

.bubble .wrapper {
	display: table-cell; 
	vertical-align: middle; 
}

.bubble .wrapper .innerWrapper {
	position: relative;
	top: -20px;	
}

.category {
	width: 19%;
	height: 100%;
	float: left;
	text-align: center;
}

h1 {
	margin: 20px 0 10px;
	height: 80px;
	color: #fff;
	font-size: 37px;
	line-height: 34px;
}

.category div {
	height: 106px;
	width: 106px;
	background-color: #fff;
	border-radius: 53px;
	margin: 10px auto;
	line-height: 106px;
	font-size: 60px;
}

/* Animate */

* {
	-webkit-transition: * 0.5s ease-in;
}

.category .clicked {
	-webkit-transition: * 0.5s ease-in;
	width: 100px;
	-webkit-transform: 
	
}


#p1pic, #p2pic, #p3pic {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5000;
	display: none;
}

/*#p1pic {
	background: url(img/nyancat.png) no-repeat;
}

#p2pic {
	background: url(img/lazer.jpg) no-repeat;
}

#p3pic {
	background: url(img/popipo.jpg) no-repeat;
}*/

#right, #wrong {
	display: none;
	margin: 0;
	padding: 0;
}

#wrong, #right {
	color: #fff;
	text-align: center;
	font-size: 240px;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 200px;
	width: 100%;
	z-index: 8000;
}

#round2 {
	display: none;
}

#finalQuestion {
	
	display: none;
}

#playerNameFromAnsweringPlayer {
	color: #fff;
	text-align: center;
	font-size: 260px;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 200px;
	width: 100%;
	z-index: 9002;
	text-transform: uppercase;
	text-shadow: 0 3px 10px rgba(0,0,0,0.5);
	display: none;
}

#nameOverlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00b7c5;
	z-index: 10001;
	line-height: 600px;
	text-align: center;
	font-size: 140px;
	color: #fff;
}